/* BASE COLOR: #2B6CC4 */

a {
  text-decoration: none;
}

a:link {
  color: #6091d3;
}

a:visited {
  color: #205193;
}

a:hover, a:active {
  color: #cadaf0;
}

body {
  margin: 2.778% auto;
  max-width: 600px;
  font-family: "Questrial", sans-serif;
  color: #ffffff;
  background-color: #0b1b31;
  line-height: 1.33em;
}

button {
  background-color: #cadaf0;
  color: #000000;
}

footer {
  color: #205193;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

h1 { 
  font-size: 3.17em;
}

h2 { 
  font-size: 2.37em;
}

h3 { 
  font-size: 1.77em;
}

textarea {
  font-family: monospace;
}

#article {
  color: #ffffff;
  background-color: #040b14;
  width: 100%;
}

#pageboard {
  margin: 1.33em auto;
}

#pagecommandbar {
  margin: 0.66em auto;
  text-align: center;
}

#save {
}

